header {
  padding-top: 50px;
  text-align: center;
}

#sort-section {
  padding-top: 50px;
}

select,
button {
  font-size: 1em;
  padding: 5px;
  margin: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.animal {
  width: 300px;
  height: auto;
  margin: 15px;

  text-align: center;
}
img {
  width: 300px;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 1.5em;
}